@media screen and (prefers-reduced-motion: reduce), 
  (update: slow) {
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
    /* The following will have the same effect as removing all animation but it will make sure that the animation runs imperceptably if its final result is necessary to the page */
    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}

@keyframes logoAnimate {
    from {width: 25px;
    opacity: 0;}
    to {width: 475px;
    opacity: 1;}
}

#logo {
    animation-name: logoAnimate;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-delay: 0s;
}

body{
    font-family: 'Poppins', serif;
    background-image: url(../images/concrete_seamless.png);
    background-color:#f1f1f1;

}

header{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.nav_links{
    display:flex;
    flex-direction:column;
}

.nav_item a{
    color: blue;
}

.card > header{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}

.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display:flex;
    flex-direction: column;
    width: 450px;
}

.pricing{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 900px){

    header, .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        width: 275px;
    }

    .pricing{
        display:flex;
        flex-direction: row;
        justify-content:center;
    }

    body > header:first-of-type{
        position:fixed;
        top: 0;
        width:100%;
    }

    .about{
        margin: 100px 0px 0px 0px;
    }
}

@media print{
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }
    nav{
        width: 100%;
    }
    .nav_links{
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content: space-around;

    }
    .gallery, #gallery{
        display:none;
    }
    .card{
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }
    .pricing{
        flex-direction:row;
        align-items:flex-end;
    }
    .card ul li:nth-child(2)::after{
        content: "👍";
    }
}